# Node modules
node_modules/
public/uploads/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Yarn Integrity file
.yarn-integrity

# Compiled source #
###################
lib/
target/

# Misc
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Operating System files
*.swp
*.swo

