<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <%- include("components/header") %>
  </head>
  <body>
    <div id="root">
      <%- include('components/navbar') %>
      <div class="container mt-3">
        <section id="about" class="about-section">
          <div class="container mt-5">
            <h2 class="animate__animated animate__backInDown">
              About Anti-Disaster
            </h2>
            <div
              class="animate__animated animate__backInDown animate__delay-1s"
            >
              <p class="mt-5">
                In times of crisis, quick access to accurate information can
                make all the difference.
                <strong>ResQ</strong> was created with a simple goal: to help
                people stay informed and connected during natural disasters.
                Whether you're trying to figure out if it's safe to travel to a
                specific location or you need help when disaster strikes, our
                platform is here to assist you every step of the way.
              </p>

              <p>
                At <strong>ResQ</strong>, our mission is to empower communities
                by providing a platform for real-time updates, weather alerts,
                and support during emergencies. We believe that through timely
                information and community collaboration, lives can be saved, and
                help can reach those in need faster.
              </p>

              <p>
                <strong>Stay Informed:</strong> With user-generated reports and
                a live weather dashboard, you’ll always know what’s happening in
                your area. Whether it's floods, fires, or storms,
                <strong>ResQ</strong> keeps you updated with real-time disaster
                posts and warnings.
              </p>

              <p>
                <strong>Reach Out for Help:</strong> If you're in a crisis, you
                can request help from nearby users or offer assistance to those
                affected by disasters, making sure no one is left without
                support.
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
